/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&display=swap');

body {
    /* font-family: bold 'Charm', cursive; */
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.charm-regular {
    font-family: 'Charm', system-ui;
    font-weight: 400;
    font-style: normal;
}

.charm-bold {
    font-family: 'Charm', system-ui;
    font-weight: 700;
    font-style: normal;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-weight: bold;
    color: #555;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0080f3;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0080f3;
}

#certificate-canvas {
    display: inline;
    margin-top: 20px;
}

select {
    background-color: white;
    color: #555;
    font-size: 16px;
    appearance: none;
    background-image: url('dropdown-arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

select:focus {
    outline: none;
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}
